# Node
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
.venv/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
logs/
instance/

# SQLite/Local Databases
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
